$body-color: green;
$btn-color: yellow;

body {
  padding: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background: $body-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  p {
    font-size: 30px;
    color: #fff;
  }
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: $btn-color;
}

.bgimg {
  width: 500px;
  height: 300px;
  background: url(../assets/photo-1542273917363-3b1817f69a2d.avif);
  background-size: cover;
}

.jokeBlock {
  border: 2px solid green;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  .jokeBtn {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background: #000;
    color: #fff;
    font-size: 20px;
  }
}
